<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User</h2>
<table>
    <col span="4" style="background: darkseagreen">
    <title>User</title>
    <thead>
    <tr>
        <th> id </th>
        <th> name </th>
        <th> email </th>
        <th> role </th>
    </tr>
    </thead>
    <tbody>
    </tr>
        <td><span th:text="${user.id}"> id </span></td>
        <td><span th:text="${user.name}"> name </span></td>
        <td><span th:text="${user.email}"> email </span></td>
        <td><span th:text="${user.role}"> role </span></td>
    </tr>
    </tbody>
</table>
<h3>Reviews</h3>
<table>
    <colgroup>
        <col span="1" style="background: darkseagreen">
        <col span="1" style="background: cyan">
        <col span="3" style="background: darkseagreen">
    </colgroup>
    <title>Reviews</title>
    <thead>
    <tr>
        <th> queue_id </th>
        <th> name </th>
        <th> description </th>
        <th> rate </th>
        <th> time </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userReviews.empty}">
        <td colspan="2"> No reviews here </td>
    </tr>
    <tr th:each="review : ${userReviews}">
        <td>
            <!--<span th:text="${review.qid}"> queue_id </span> -->
            <form action="#" th:action="@{/queueReview/{qid}(qid=${review.qid})}" th:object="${authenticationRequest}" method="post">
                <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
                <p><input type="submit" th:value="${review.qid}" /></p>
            </form>
        </td>
        <td><span th:text="${review.userName}"> userName </span></td>
        <td><span th:text="${review.description}"> description </span></td>
        <td><span th:text="${review.rate}"> rate </span></td>
        <td><span th:text="${review.time}"> time </span></td>
    </tr>
    </tbody>
</table>
<form action="#" th:action="@{/start}" th:object="${authenticationRequest}" method="post">
    <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
    <p><input type="submit" value="Back to query" /></p>
</form>
</body>
</html>