<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="plotly-latest.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
<div class="wrapper">
    <div id="plt"></div>
    <script th:inline="javascript">
        TESTER = document.getElementById('plt');
        /*<![CDATA[*/
        var number = [[${number}]];
        var Title = [[${title}]];
        var xName = [[${xName}]];
        var yName = [[${yName}]];

        var X = [[${X}]];
        var Y = [[${Y}]];
        var Type = [[${Type}]];
        /*]]>*/
        var data = [
            {
                x: X,
                y: Y,
                type: Type
            }
        ];
        var layout = {
            height: 600,
            title: {
                text:Title,
                font: {
                    family: 'Courier New, monospace',
                    size: 24
                },
                xref: 'paper',
                x: 0.05,
            },
            xaxis: {
                title: {
                    text: xName,
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                },
            },
            yaxis: {
                title: {
                    text: yName,
                    font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                    }
                }
            }
        };


        Plotly.newPlot("plt", data, layout);
    </script>
</div>
<form action="#" th:action="@{/start}" th:object="${authenticationRequest}" method="post">
    <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
    <p><input type="submit" value="Back to query" /></p>
</form>
</body>
</html>