<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="dashboard.css" rel="stylesheet">
</head>
<body>
<div class="table-responsive p-5">
    <h2>Users</h2>
    <table class="table table-striped table-sm">
        <title>Users</title>
        <thead>
        <tr>
            <th style="width: 8%"> id</th>
            <th style="width: 35%"> name</th>
            <th> email</th>
            <th> role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userList.empty}">
            <td colspan="2"> No Users Available</td>
        </tr>
        <tr th:each="user : ${userList}">
            <td>
                <!--<span th:text="${user.id}"> id </span> -->
                <form action="#" th:action="@{/userReview/{uid}(uid=${user.id})}" th:object="${authenticationRequest}"
                      method="post">
                    <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
                    <button class="w-10 py-1 m-2 btn btn-lg btn-primary" type="submit" style = "background: #116dcb" th:value="${user.id}" th:text="${user.id}"> </button>
                </form>
            </td>
            <td><span th:text="${user.name}"> name </span></td>
            <td><span th:text="${user.email}"> email </span></td>
            <td><span th:text="${user.role}"> role </span></td>
        </tr>
        </tbody>
    </table>
</div>
<form action="#" th:action="@{/start}" th:object="${authenticationRequest}" method="post">
    <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
    <button class="w-10 py-1 m-2 btn btn-lg btn-primary" type="submit" style = "background: cadetblue">Go to query</button>
</form>
</body>
</html>