<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="dashboard.css" rel="stylesheet">
</head>
<body>
<div class="table-responsive p-5">
    <h2>Queue</h2>
    <table class="table table-striped table-sm">
    <colgroup>
        <col span="2" style="background: cornsilk">
        <col span="8" style="background: darkseagreen">
        <col span="1" style="background: cadetblue">
    </colgroup>
    <title>Queues</title>
    <thead>
    <tr>
        <th> id </th>
        <th> title </th>
        <th> description </th>
        <th> status </th>
        <th> ownerId </th>
        <th> averageWaitingTime </th>
        <th> currentUser </th>
        <th> dateStart </th>
        <th> dateEnd </th>
        <th> type </th>
        <th> rate </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${queue.id}"> id </span></td>
        <td><span th:text="${queue.eqTitle}"> title </span></td>
        <td><span th:text="${queue.eqDescription}"> description </span></td>
        <td><span th:text="${queue.eqStatus}"> status </span></td>
        <td><span th:text="${queue.eqOwnerId}"> ownerId </span></td>
        <td><span th:text="${queue.eqAverageWaitingTime}"> averageWaitingTime </span></td>
        <td><span th:text="${queue.eqCurrentUser}"> currentUser </span></td>
        <td><span th:text="${queue.eqDateStart}"> dateStart </span></td>
        <td><span th:text="${queue.eqDateEnd}"> dateEnd </span></td>
        <td><span th:text="${queue.eqType}"> type </span></td>
        <td>
            <!--<span th:text="${queueRate}"> rate </span> -->
            <form action="#" th:action="@{/queueReview/{qid}(qid=${queue.id})}" th:object="${authenticationRequest}" method="post">
                <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
                <button class="w-10 py-1 m-2 btn btn-lg btn-primary" type="submit" style = "background: #116dcb" th:value="${queueRate}" th:text="${queueRate}"> </button>
            </form>

        </td>
    </tr>
    </tbody>
</table>
</div>
<div class="table-responsive p-5 w-50">
    <h2>Users</h2>
    <table class="table table-striped table-sm text-center">
    <colgroup>
        <col span="1" style="background: cornsilk">
        <col span="2" style="background: darkseagreen">
    </colgroup>
    <title>Users</title>
    <thead>
    <tr>
        <th> id </th>
        <th> queuePlace </th>
        <th> name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${usersInQueue.empty}">
        <td colspan="2"> No Users Available </td>
    </tr>
    <tr th:each="user : ${usersInQueue}">
        <td><span th:text="${user.id}"> id </span></td>
        <td><span th:text="${user.queuePlace}"> queuePlace </span></td>
        <td><span th:text="${user.name}"> name </span></td>
    </tr>
    </tbody>
</table>
</div>
<form action="#" th:action="@{/start}" th:object="${authenticationRequest}" method="post">
    <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
    <button class="w-10 py-1 m-2 btn btn-lg btn-primary" type="submit" style = "background: cadetblue">Go to query</button>
</form>
</body>
</html>