<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
<div class="wrapper">
    <div id="plt"></div>
    <script th:inline="javascript">
        TESTER = document.getElementById('plt');
        /*<![CDATA[*/
        var Title = [[${title}]];

        var X = [[${X}]];
        var Y = [[${Y}]];
        /*]]>*/
        var data = [{
            values: Y,
            labels: X,
            type: 'pie'
        }];

        var layout = {
            title: {
                text:Title,
                font: {
                    family: 'Courier New, monospace',
                    size: 24
                },
                xref: 'paper',
                x: 0.05,
            },
            height: 600,
            width: 600
        };


        Plotly.newPlot("plt", data, layout);
    </script>
</div>
<form action="#" th:action="@{/start}" th:object="${authenticationRequest}" method="post">
    <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
    <button class="w-10 py-1 m-2 btn btn-lg btn-primary" type="submit" style = "background: cadetblue">Go to query</button>
</form>
</body>
</html>