<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Круговая диаграмма</title>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Газ', 'Объём'],
                ['Азот',     1],
                ['Кислород', 2],
                ['Аргон',    3],
                ['Углекислый газ', 4.5]
            ]);
            var options = {
                title: 'Состав воздуха',
                is3D: true,
                pieResidueSliceLabel: 'Остальное'
            };
            var chart = new google.visualization.PieChart(document.getElementById('air'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="air" style="width: 500px; height: 400px;"></div>
</body>
</html>