<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Список очередей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Queues</h2>
<table>
    <colgroup>
        <col span="1" style="background: cornsilk">
        <col span="1" style="background: cyan">
        <col span="8" style="background: darkseagreen">
    </colgroup>
    <title>Queues</title>
    <thead>
    <tr>
        <th> id </th>
        <th> title </th>
        <th> description </th>
        <th> status </th>
        <th> ownerId </th>
        <th> averageWaitingTime </th>
        <th> currentUser </th>
        <th> dateStart </th>
        <th> dateEnd </th>
        <th> type </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${queueList.empty}">
        <td colspan="2"> No Queues Available </td>
    </tr>
    <tr th:each="queue : ${queueList}">
        <td>
            <!-- <a th:text="${queue.id}" th:href="@{/usersInQueue/${queue.id}}"> id </a> -->
            <form action="#" th:action="@{/usersInQueue/{qid}(qid=${queue.id})}" th:object="${authenticationRequest}" method="post">
                <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
                <p><input type="submit" th:value="${queue.id}" /></p>
            </form>
        </td>
        <td><span th:text="${queue.eqTitle}"> title </span></td>
        <td><span th:text="${queue.eqDescription}"> description </span></td>
        <td><span th:text="${queue.eqStatus}"> status </span></td>
        <td><span th:text="${queue.eqOwnerId}"> ownerId </span></td>
        <td><span th:text="${queue.eqAverageWaitingTime}"> averageWaitingTime </span></td>
        <td><span th:text="${queue.eqCurrentUser}"> currentUser </span></td>
        <td><span th:text="${queue.eqDateStart}"> dateStart </span></td>
        <td><span th:text="${queue.eqDateEnd}"> dateEnd </span></td>
        <td><span th:text="${queue.eqType}"> type </span></td>
    </tr>
    </tbody>
</table>
<form action="#" th:action="@{/start}" th:object="${authenticationRequest}" method="post">
    <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
    <p><input type="submit" value="Go back" /></p>
</form>
</body>
</html>