<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Users</h2>
<table>
    <colgroup>
        <col span="2" style="background: cyan">
        <col span="2" style="background: darkseagreen">
    </colgroup>
    <title>Users</title>
    <thead>
    <tr>
        <th> id </th>
        <th> name </th>
        <th> email </th>
        <th> role </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userList.empty}">
        <td colspan="2"> No Users Available </td>
    </tr>
    <tr th:each="user : ${userList}">
        <td><span th:text="${user.id}"> id </span></td>
        <td><span th:text="${user.name}"> name </span></td>
        <td><span th:text="${user.email}"> email </span></td>
        <td><span th:text="${user.role}"> role </span></td>
    </tr>
    </tbody>
</table>
<form action="#" th:action="@{/start}" th:object="${authenticationRequest}" method="post">
    <input type="hidden" th:value="${authenticationRequest.token}" th:attr="name='token'"/>
    <p><input type="submit" value="Go back" /></p>
</form>
</body>
</html>